In [112]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [113]:
df=pd.read_csv('insurance.csv')

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [130]:
df.isnull().sum()

age          0
sex          0
bmi          0
children     0
smoker       0
northeast    0
northwest    0
southeast    0
southwest    0
dtype: int64

In [115]:
df.smoker.unique()

array(['yes', 'no'], dtype=object)

In [116]:
df.smoker=df.smoker.replace({'yes':1,'no':0})
df.smoker.value_counts()

0    1064
1     274
Name: smoker, dtype: int64

In [117]:
df.region.unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [118]:
dum=pd.get_dummies(df.region)
dum.head()

   northeast  northwest  southeast  southwest
0          0          0          0          1
1          0          0          1          0
2          0          0          1          0
3          0          1          0          0
4          0          1          0          0

In [119]:
df=pd.concat([df,dum],axis=1)
df.head()

,age,sex,bmi,children,smoker,region,expenses,northeast,northwest,southeast,southwest
0,19,female,27.9,0,1,southwest,16884.92,0,0,0,1
1,18,male,33.8,1,0,southeast,1725.55,0,0,1,0
2,28,male,33.0,3,0,southeast,4449.46,0,0,1,0
3,33,male,22.7,0,0,northwest,21984.47,0,1,0,0
4,32,male,28.9,0,0,northwest,3866.86,0,1,0,0

In [120]:
df=df.drop('region',axis=1)
df.head()

,age,sex,bmi,children,smoker,expenses,northeast,northwest,southeast,southwest
0,19,female,27.9,0,1,16884.92,0,0,0,1
1,18,male,33.8,1,0,1725.55,0,0,1,0
2,28,male,33.0,3,0,4449.46,0,0,1,0
3,33,male,22.7,0,0,21984.47,0,1,0,0
4,32,male,28.9,0,0,3866.86,0,1,0,0

In [121]:
X=df.drop('expenses',axis=1)
y=df.pop('expenses')
X.head()

,age,sex,bmi,children,smoker,northeast,northwest,southeast,southwest
0,19,female,27.9,0,1,0,0,0,1
1,18,male,33.8,1,0,0,0,1,0
2,28,male,33.0,3,0,0,0,1,0
3,33,male,22.7,0,0,0,1,0,0
4,32,male,28.9,0,0,0,1,0,0

In [122]:
X.sex=df.sex.replace({'male':1,'female':0})
X.sex=X.sex.astype(str)
X.head()

   age sex   bmi  children  smoker  northeast  northwest  southeast  southwest
0   19   0  27.9         0       1          0          0          0          1
1   18   1  33.8         1       0          0          0          1          0
2   28   1  33.0         3       0          0          0          1          0
3   33   1  22.7         0       0          0          1          0          0
4   32   1  28.9         0       0          0          1          0          0

In [123]:
y.head()

0    16884.92
1     1725.55
2     4449.46
3    21984.47
4     3866.86
Name: expenses, dtype: float64

In [124]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [126]:
model=LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [128]:
model.score(X_test,y_test)

0.7724881649949733