In [161]:
import pandas as pd
import numpy as np

In [162]:
df_train=pd.read_csv('train.csv',index_col='PassengerId')
df_test=pd.read_csv('test.csv',index_col='PassengerId')

df_train.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [163]:
# First wwe check whether we have empty values or not
df_train.isnull().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [164]:
df_train=df_train.drop(['Name','Ticket','Cabin'],axis=1)
df_test=df_test.drop(['Name','Ticket','Cabin'],axis=1)

In [165]:
df_train.corr()

          Survived    Pclass       Age     SibSp     Parch      Fare
Survived  1.000000 -0.338481 -0.077221 -0.035322  0.081629  0.257307
Pclass   -0.338481  1.000000 -0.369226  0.083081  0.018443 -0.549500
Age      -0.077221 -0.369226  1.000000 -0.308247 -0.189119  0.096067
SibSp    -0.035322  0.083081 -0.308247  1.000000  0.414838  0.159651
Parch     0.081629  0.018443 -0.189119  0.414838  1.000000  0.216225
Fare      0.257307 -0.549500  0.096067  0.159651  0.216225  1.000000

In [166]:
num=['Pclass','Age','Fare','Parch','SibSp']
cat=['Sex','Embarked']

In [167]:
df_train.head()

             Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
PassengerId
1                   0       3    male  22.0      1      0   7.2500        S
2                   1       1  female  38.0      1      0  71.2833        C
3                   1       3  female  26.0      0      0   7.9250        S
4                   1       1  female  35.0      1      0  53.1000        S
5                   0       3    male  35.0      0      0   8.0500        S

In [168]:
df_test.head()

             Pclass     Sex   Age  SibSp  Parch     Fare Embarked
PassengerId
892               3    male  34.5      0      0   7.8292        Q
893               3  female  47.0      1      0   7.0000        S
894               2    male  62.0      0      0   9.6875        Q
895               3    male  27.0      0      0   8.6625        S
896               3  female  22.0      1      1  12.2875        S

In [169]:
X_train=df_train.drop('Survived',axis=1)
y_train=df_train['Survived']
X_test=df_test.copy()

In [170]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
ct=ColumnTransformer([('sim_num',SimpleImputer(strategy='median'),num),
                 ('sim_cat',SimpleImputer(strategy='most_frequent'),cat),
                 ('ohe',OneHotEncoder(sparse=False,drop='first'),cat)],
                remainder='passthrough')

In [171]:
tf1=ct.fit_transform(X_train)
tf2=ct.fit_transform(df_test)

In [172]:
df_new=pd.DataFrame(tf1)
df_test=pd.DataFrame(tf2)

In [173]:
X_train=df_new.drop(df_new.iloc[:,5:7],axis=1)
X_train=X_train.iloc[:,:-1]
X_test=df_test.drop(df_test.iloc[:,5:7],axis=1)

In [174]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(X_train,y_train)

C:\Users\Rao Sharjeel\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [175]:
from sklearn.metrics import accuracy_score
y_pred = model.predict(X_test)

In [176]:
y_test=pd.read_csv('gender_submission.csv',index_col='PassengerId')
accuracy_score(y_test,y_pred)

0.9258373205741627

In [177]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[248,  18],
       [ 13, 139]], dtype=int64)